XTerm*faceName: MesloLGS NF:size=12
UXTerm*faceName: MesloLGS NF:size=12

XTerm*selectToClipboard: true
UXTerm*selectToClipboard: true

XTerm*vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)

UXTerm*vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)

XTerm*.alternateScroll: true
UXTerm*.alternateScroll: true

XTerm.vt100.metaSendsEscape: true
UXTerm.vt100.metaSendsEscape: true

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*.fading: 35
*.fadeColor: nord3

*.color15 = #ECEFF4

XTerm.color0: nord1
XTerm.color1: nord11
XTerm.color2: nord14
XTerm.color3: nord13
XTerm.color4: nord9
XTerm.color5: nord15
XTerm.color6: nord8
XTerm.color7: nord5
XTerm.color8: nord3
XTerm.color9: nord11
XTerm.color10: nord14
XTerm.color11: nord13
XTerm.color12: nord9
XTerm.color13: nord15
XTerm.color14: nord7
XTerm.color15: nord6

UXTerm.color0: nord1
UXTerm.color1: nord11
UXTerm.color2: nord14
UXTerm.color3: nord13
UXTerm.color4: nord9
UXTerm.color5: nord15
UXTerm.color6: nord8
UXTerm.color7: nord5
UXTerm.color8: nord3
UXTerm.color9: nord11
UXTerm.color10: nord14
UXTerm.color11: nord13
UXTerm.color12: nord9
UXTerm.color13: nord15
UXTerm.color14: nord7
UXTerm.color15: nord6

St.color0: nord1
St.color1: nord11
St.color2: nord14
St.color3: nord13
St.color4: nord9
St.color5: nord15
St.color6: nord8
St.color7: nord5
St.color8: nord3
St.color9: nord11
St.color10: nord14
St.color11: nord13
St.color12: nord9
St.color13: nord15
St.color14: nord7
St.color15: nord6
